.right-panel > .info-text {
    width:250px; /* or whatever width you want. */
    max-width:250px; /* or whatever width you want. */
    display: inline-block;
}

.right-panel {
    max-height: 700px;
}

.items-right-panel > .items {
    margin: auto;
}

/*STYLING FOR MOBILE PHONE*/
@media (max-width: 600px) {
    .items-right-panel {
        flex-wrap: wrap;
        justify-content: center;
    }
}