/*UNIVERSAL CLASSES*/
.m-top-30 {
    margin-top: 30px;
}
.m-left-30 {
    margin-left: 30px;
}
.m-right-30 {
    margin-right: 30px;
}
.m-bottom-30 {
    margin-bottom: 30px;
}

.m-left-10 {
    margin-left: 10px;
}
.m-10 {
    margin: 10px;
}
.p-30 {
    padding: 30px;
}
.p-bottom-30 {
    padding-bottom: 30px;
}
.b-border {
    border-bottom: #eee solid 2px;
}
.left {
    float: left;
}
.right {
    float: right;
}

.info-text {
    font-size: 12px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete-link-decoration {
    text-decoration: none;
    color: black;
}

.btn-format {
    width: 120px;
    height: 50px;
    text-align: center;
    margin-bottom: 5px;
}

.btn-format > a {
    text-align: center;
    padding: 30px;
}

.main-border {
    margin-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.latest-products-heading {
    text-align: left;
    margin: 0px 50px 40px 50px;
    border-bottom: #eee solid 2px;
}


/*TOP CONTACT PANEL*/
.top-page {
    margin: 0;
}
.fa {
    padding: 7px;
    font-size: 20px;
    width: 5px;
    height: 5px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 8px;
    margin-right: 10px;
    border-radius: 100%;
    color: white;
}

.fa:hover {
    color: rgb(242, 124, 5);
}
.contact-links {
    background-color: #212529;
    color: white;
    height: 30px;
    font-size: 12px;
}
.contact-links a:nth-child(1) {
    margin-top: 8px;
    margin-left: 15%;
    text-decoration: none;
    color: white;
}
.contact-links a:hover {
    color: rgb(242, 124, 5)
}
.socials {
    margin-right: 20px;
}

/*TOP ACTION MENU*/
.nav-menu {
    margin: 0;
}

.main-banner {
    float: left;
    margin: 0px 0px 0px 15px;
}

.action-menu {
    padding-left: 50px;
    display: flex;
    height: 80px;
}

a.action-menu {
    display: inline-block;
    text-decoration: none;
    padding: 120px;
    margin: 42px;
}

.action-btn {
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    width: 100%;
    /*height: 100%;*/
    color: black;
    font-weight: 900;
    transition: 0.5s;
}

.action-btn:hover {
    /*color: rgb(242, 124, 5);*/
    color: white;
    background-color: rgb(242, 124, 5);
}

.user-icon {
    color: black;
}

.modal-content .heading {
    border-bottom: none;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal-content > .row-items {
    flex-wrap: nowrap;
    padding: unset;
}

.modal-content > .row-items > .item {
    border: none;
    width: 90%;
    margin: 0 0 0 10px;
}

.modal-content > .items {
    border-top: #eeee solid 1px;
    padding: 10px;
    flex-wrap: nowrap;
    margin: 0;
}


#logo{
    height: auto;
    width: auto;
    max-height: 80px;
    max-width: 80px;
}

/*WHOLE BODY STYLING*/
body {
    font-family: "Sora", sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}

.items {
    margin: 50px 200px 0px 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    width: 300px;
    float: left;
    margin: 20px;
    align-items: center;
    transition: 0.5s;
}

div.product-name {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

div.product-name > a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.price {
    margin-top: 30px;
    font-weight: 1000;
    font-size: larger;
}

.add-to-cart-btn {
    margin: 20px 35px 20px 35px;
    padding: 10px;
    background-color: #C98706;
    filter: brightness(100%);
    transition: 0.5s;
}

.add-to-cart-btn i {
    color: black;
    margin-right: 20px;
}

.item:hover {
    border: rgb(242, 124, 5) solid 1px;
    border-radius: 4px;
    box-shadow: #777777;
}

.item:hover .add-to-cart-btn {
    background-color: rgb(242, 124, 5);
}

.item:hover .add-to-cart-btn i {
    color: white;
}

.item:hover .add-to-cart-btn > a {
    color: white !important;
}

div.item img {
    width: 90%;
    height: auto;
    margin: 10px;
    border-radius: 30px;
    /*border: #777777 solid 3px;*/
}

/*BOTTOM STYLING*/
.bottom-info {
    display: flex;
    width: 100%;
    background-color: #212529;
    color: white;
    padding: 50px;
}

.shopping .orders {
    margin-left: 100px;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #04AA6D;
    color: white;
}

@media (max-width: 1300px) {
    .items {
        margin: unset;
    }
}

/*STYLING FOR MOBILE PHONE*/
@media (max-width: 600px) {
    .action-menu {
        height: auto;
        flex-wrap: wrap;
        padding: unset;
    }

    .nav-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .items {
        margin: auto;
    }

    .item {
        border-bottom: #eee solid 2px;
    }

    .action-menu {
        /*display: none;*/
    }
}