#logo{
    width: 50px;
    border-radius: 50%;
}

/*body div {*/
/*    padding: 20px;*/
/*}*/

body {
    font-family: "Sora", sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}

.fa {
    padding: 7px;
    font-size: 20px;
    width: 5px;
    height: 5px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 8px;
    margin-right: 10px;
    border-radius: 100%;
    color: white;
}

.fa:hover {
    color: rgb(242, 124, 5);
}

.left {
    float: left;
}
.right {
    float: right;
}

.contact-links {
    background-color: #212529;
    color: white;
    height: 30px;
    font-size: 12px;
}

.contact-links a:nth-child(1) {
    margin-top: 8px;
    margin-left: 15%;
    text-decoration: none;
    color: white;
}

.contact-links a:hover {
    color: rgb(242, 124, 5)
}

.socials {
    margin-right: 20px;
}

.top-page {
    margin: 0;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.main-banner {
    float: left;
}

.main-banner img {
    height: 80px;
    width: 100px;
}

.action-menu {
    width: 70%;
    padding-left: 50px;
    display: flex;
    /*background-color: rgb(185, 180, 186);*/
    height: 80px;
}

.action-btn {
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    width: 33%;
    height: 100%;
    color: black;
    font-weight: 900;
    transition: 0.5s;
}

.action-btn:hover {
    /*color: rgb(242, 124, 5);*/
    color: white;
    background-color: rgb(242, 124, 5);
}

.action-btn * {
    margin: 0px;
}

.user-block {
    color: black;
    text-align: center;
    transition: 0.5s;
    padding: 15px;
}

.user-block a {
    text-decoration: none;
    color: black;
    margin-top: 10px;
    font-weight: 900;
}

.user-block:hover {
    background-color: rgb(242, 124, 5) !important;
    color: white;
}

.user-icon {
    color: black;
    margin-top: 10px;
}

.carousel .carousel-item {
    height: 480px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 480px;
}

a.action-menu {
    display: inline-block;
    text-decoration: none;
    padding: 120px;
    margin: 42px;
}

.side-description {
    width: 15%;
    padding: 20px;
    float: left;
}

.main-border {
    overflow: auto;
    margin-top: 20px;
}

.main-border > div {
    border-radius: 30px;
    background-color: rgb(255, 240, 229);
}

.items {
    width: 60%;
    float: left;
    padding-left: 5%;
}

.item {
    background-color: rgb(185, 180, 186);
    width: 200px;
    margin: 5px;
    border: 3px solid purple;
    float: left;
    border-radius: 30px;
}

.item:hover {
    border: 1px solid #777;
}

div.item img {
    width: 100%;
    height: auto;
}

div.description {
    padding: 15px;
    text-align: center;
}